/*.border{
  border: 1px solid black;
}*/

.visibleBorder{
  border: 2px solid black;
}

/*TEXT CSS*/
.title{
  font-family: "Franklin Gothic Medium" sans-serif;
  font-size: 45px;
  position: relative;
  margin-left: 40px;
}

.textlink{
  color: blue;
}

.bold{
  font-weight: bold;
}

.firstpara{
  font-size: 20px;
}

.footerText{
  color:white;
  font-weight: bold;
  font-size: 28px;
}


.breadcrumbText{
  color: blue;
  font-size: 15px;
  position: relative;
}

.breadcrumbText2{
  color: blue;
  font-size: 15px;
  position: relative;
  bottom: 5px;
}

.breadcrumbTitle{
  font-weight: bold;
  font-size: 20px;
  margin-bottom: 15px;
  position: relative;
  bottom: 4px;
}


.buttonText{
  color:white;
  font-weight:12px;
}


/*Positions CSS*/
.footer{
  position: fixed;
  bottom: 0px;
  width: 100%;
}
.leftmargin{
  margin-left: 30px;
}

.topbreak{
  margin-top: 10px;
}
.bottombreak{
  margin-bottom: 20px;
}

.topImages{
  margin-top: 5px;
}

.floatLeft{
  float: left;
}


/*Image IDs*/
#textBlack{
}

#textRed{
}

#textGreen{
}

#textWhite{
}


#backgroundBlack{
}

#backgroundPurple{
}

#backgroundGrey{
}

#backgroundWhite{
}


/*Master Tag CSS*/
li{
  display: inline;
  margin-right: 15px;
  font-size: 22px;
}
a{
  color: white;
}


/*Other classes*/
.thumbnail{
}

.enlarged{

}

.clickSquare{
  width:relative;
  height:7%;
}

.buttonColour{
  background-color: black;
}

/*Other IDs*/
/*#main_footer{

}*/

#navbarBackground{
  background-color: #000099;
}

#footerBackground{
  background-color: #000099;
}

/*TEST CSS*/
.hovereffect {
width:100%;
height:100%;
float:left;
overflow:hidden;
position:relative;
text-align:center;
cursor:default;
}

.overlay {
width:100%;
height:100%;
position:absolute;
overflow:hidden;
top:0;
left:0;
opacity:0;
background-color:rgba(0,0,0,0.5);
-webkit-transition:all .4s ease-in-out;
transition:all .4s ease-in-out
}

.hovereffect img {
display:block;
position:relative;
-webkit-transition:all .4s linear;
transition:all .4s linear;
}

.hovereffect h2 {
text-transform:uppercase;
color:#fff;
text-align:center;
position:relative;
font-size:17px;
background:rgba(0,0,0,0.6);
-webkit-transform:translatey(-100px);
-ms-transform:translatey(-100px);
transform:translatey(-100px);
-webkit-transition:all .2s ease-in-out;
transition:all .2s ease-in-out;
padding:10px;
}

.hovereffect a.info {
text-decoration:none;
display:inline-block;
text-transform:uppercase;
color:#fff;
border:1px solid #fff;
background-color:transparent;
opacity:0;
filter:alpha(opacity=0);
-webkit-transition:all .2s ease-in-out;
transition:all .2s ease-in-out;
margin:50px 0 0;
padding:7px 14px;
}

.hovereffect a.info:hover {
box-shadow:0 0 5px #fff;
}

.hovereffect:hover img {
-ms-transform:scale(1.2);
-webkit-transform:scale(1.2);
transform:scale(1.2);
}

.hovereffect:hover .overlay {
opacity:1;
filter:alpha(opacity=100);
}

.hovereffect:hover h2,.hovereffect:hover a.info {
opacity:1;
filter:alpha(opacity=100);
-ms-transform:translatey(0);
-webkit-transform:translatey(0);
transform:translatey(0);
}

.hovereffect:hover a.info {
-webkit-transition-delay:.2s;
transition-delay:.2s;
}
