/*.border{
  border: 1px solid black;
}*/

.visibleBorder{
  border: 2px solid black;
}

/*TEXT CSS*/
.title{
  font-family: "Franklin Gothic Medium" sans-serif;
  font-size: 45px;
  position: relative;
  margin-left: 40px;
}

.textlink{
  color: blue;
}

.bold{
  font-weight: bold;
}

.firstpara{
  font-size: 20px;
}

.footerText{
  color:white;
  font-weight: bold;
  font-size: 28px;
}


.breadcrumbText{
  color: blue;
  font-size: 15px;
  position: relative;
}

.breadcrumbText2{
  color: blue;
  font-size: 15px;
  position: relative;
  bottom: 5px;
}

.breadcrumbTitle{
  font-weight: bold;
  font-size: 20px;
  margin-bottom: 15px;
  position: relative;
  bottom: 4px;
}


.buttonText{
  color:white;
  font-weight:12px;
}


/*Positions CSS*/
.footer{
  position: fixed;
  bottom: 0px;
  width: 100%;
}
.leftmargin{
  margin-left: 30px;
}

.topbreak{
  margin-top: 10px;
}
.bottombreak{
  margin-bottom: 20px;
}

.topImages{
  margin-top: 5px;
}

.floatLeft{
  float: left;
}


/*Image IDs*/
#textBlack{
}

#textRed{
}

#textGreen{
}

#textWhite{
}


#backgroundBlack{
}

#backgroundPurple{
}

#backgroundGrey{
}

#backgroundWhite{
}


/*Master Tag CSS*/
li{
  display: inline;
  margin-right: 15px;
  font-size: 22px;
}
a{
  color: white;
}


/*Other classes*/
.thumbnail{
}

.enlarged{

}

.clickSquare{
  width:relative;
  height:7%;
}

.buttonColour{
  background-color: black;
}

/*Other IDs*/
/*#main_footer{

}*/

#navbarBackground{
  background-color: #000099;
}

#footerBackground{
  background-color: #000099;
}
